<<<<<<< HEAD
.squares {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.squareText {
  visibility: hidden;
}
.squares:hover .squareText {
  color: white;
  visibility: visible;
=======
body {
    display: grid;
}

div {
    background-color: blue;
    height: 30px;
    width: 30px;
    border: 3px;
>>>>>>> b05f5d8e110b95d3b266481d119a1f090a91a266
}